* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    transition: smooth;
    background-image: linear-gradient(purple,orange,red);

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: -20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-top: 25px;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #0ef;
    text-shadow: 0 0 5px rgb(13, 0, 255), 0 0 25px rgb(0, 8, 255);
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
    cursor: default;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: .5s;

}

.navbar a {
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 10px;
    transition: 0.3s;
    background: #0ef;
    color: #081b29;
    padding: 2px 20px;
    border-radius: 30px;
    opacity: 0;
    animation: slidetop .5s ease forwards;
    animation-delay: calc(.1s*var(--i));
}

.navbar :hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;

}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;

}

.home img {
    top: 50%;
    left: 55%;
    transform: translate(50%, -50%);
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid rgb(67, 236, 245),
        10px solid rgb(4, 6, 83);
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px rgb(221, 11, 207), 0 0 100px rgb(91, 250, 250), 0 0 200px cyan;

}

.home-content {
    width: 400px;
    z-index: 10;
    margin-right: 200px;
    text-align: left;
    color: #ece7e7;
}

.typing {
    font-size: 30px;
    color: #0ef;
    margin-bottom: 5px;
    font-weight: 500;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: .1s;
    text-shadow: 0 0 5px violet(13, 0, 255), 0 0 25px violet(0, 8, 255);
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2em;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1em;
    margin: -3px 0;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    margin: 10px 0 20px;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: .3s;
}

.home-sci {
    margin: 20px 0;
}

.home-sci a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid #0ef;
    border-radius: 50%;
    background: transparent;
    margin-right: 30px 15px 30px 0;
    transition: 0.3s;
    font-size: 20px;
    text-decoration: none;
    color: #0ef;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;


}

.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.sk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100vh;
    animation-name: slideright 1s linear both;
    animation-timeline: view();
    animation-range: entry 0% exit 100%;
}

.about-img img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid rgb(67, 236, 245),
        10px solid rgb(4, 6, 83);
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px rgb(221, 11, 207), 0 0 100px rgb(91, 250, 250), 0 0 200px cyan;
    animation-delay: .5s;
    margin-left: 50px;
    animation: vertical-rotate 7s linear infinite;



}

.about-text h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2em;
    opacity: 0;
    animation: slidebottom 1s linear both;
    animation-delay: .7s;
    animation-timeline: view(100px, 100px);
    animation-range: entry 0% exit 100%;


}

.about-text span {
    color: #0ef;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7em;
    margin: 15px 0 30px;
}

.about-text p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em;
    color: #f4eeee;
    margin-bottom: 4rem;
}

section {
    display: flex;
    flex-wrap: wrap;
    animation-timeline: view();
}

.sub-title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-top: 100px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
}

.skill {
    width: 100vw;
    height: 100vh;
}

.hr {
    width: 100%;
    background-color: #0000;
}

.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 40px;
}

.bar {
    font-size: 23px;

}

.technical-bars .bar {

    padding-bottom: 10px;
}

.technical-bars:hover {
    cursor: pointer;
}

.technical-bars .bar:first-child {
    margin-top: 0;
}

.technical-bars .bar i {
    animation: vertical-rotate 3s linear infinite;
}

.technical-bars .bar:last-child {
    margin-bottom: 20px;
}

.technical-bars .bar .info {
    margin-bottom: 5px;
}

.technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}

.technical-bars .bar .progress-line {
    position: relative;
    width: 100%;
    height: 10px;
    border: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1)forwards;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
}

.technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1)forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 90%;
}

.progress-line.javascript span {
    width: 75%;
}

.progress-line.python span {
    width: 80%;
}

.progress-line.bootstrap span {
    width: 70%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000000;
    color: #ffff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "90%";
}

.progress-line.css span::after {
    content: "90%";
}

.progress-line.javascript span::after {
    content: "75%";
}

.progress-line.python span::after {
    content: "80%";
}

.progress-line.bootstrap span::after {
    content: "70%";
}

.progress-line span::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showtext 0.5s 1.5s linear forwards;
    animation-timeline: view();
    opacity: 0;
}

@keyframes showtext {
    100% {
        opacity: 1;
    }
}

.radial-bars {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: flex-start;

}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin: 20px 0;
    padding-bottom: 10px;
    position: relative;

}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 160px;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    animation: animate-bar 1s linear forwards;
}

.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1s 1s linear forwards
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards
}

.radial-bar .persentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    position: absolute;
    bottom: -5px;
    width: 100%;
    text-align: center;
    left: 50%;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
    transform: translate(-50px);
}

.main-text {
    padding-top: 100px;
    /* margin-top: 200px; */
}

.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    /* padding-bottom: 60px; */
}

.main-text h2 span {
    color: #0ef;
}

.portfolio-content {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, auto)); */
    grid-template-columns: repeat(3, auto);
    gap: 170px;

}

.row {
    width: 350px;
    height: 480px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-left: 40px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.row img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    gap: 60px;
    transition: 0.5s;

}

.layer {
    width: 100%;
    height: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    font-size: 24px;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    line-height: 1.8;
}

.layer i {
    color: red;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
    filter: brightness(0.8);
}

.row:hover .layer {
    height: 100%;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: #960e0e;
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: rgb(248, 248, 248);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

.contact-icons i:hover {
    background: #0ef;
    color: #0000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan, ;
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 70px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2, 1rem;
}

.top i {
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

@keyframes vertical-rotate {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
        ;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 175;
        ;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 125;
        ;

    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
        ;
    }
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}


@keyframes slideright {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slidetop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slidebottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* ===========================
   Tablet (max-width: 1024px)
   =========================== */
@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    padding: 10px ;
    margin-top: 0;
  }

  .logo {
    font-size: 22px;
  }

  .navbar a {
    font-size: 20px;
    margin: 5px;
    padding: 6px 14px;
    margin-right: 30px; 
  }

  .home-content {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
  }

  .home img {
    position: static;
    transform: none;
    margin: 20px auto;
    width: 300px;
    height: 300px;
  }

  .home-content {
    margin: 0 auto;
    text-align: center;
  }

  .home-content h1 {
    font-size: 45px;
  }

  .home-content h3 {
    font-size: 26px;
  }

  .home-content p {
    font-size: 18px;
  }
   .radial-bars {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 40px;
    
  }
  .about-img img {
    width: 300px;
    height: 300px;
    margin: 0 auto 20px;
  }

  .about-text h2 {
    font-size: 45px;
  }

  .about-text p {
    font-size: 18px;
  }
  .skill{
    width: 100%;
    height: auto;
  }
  .sk {
    grid-template-columns: 1fr;
    height: auto; 
    padding: 50px 5%; 
    text-align: center;
  }
  .portfolio-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
  }

  .contact {
    grid-template-columns: 1fr;
    padding: 40px 5%;
    text-align: center;
  }
}
@media (max-width: 768px) {
   .header {
    flex-direction: column;
    padding: 10px ;
    margin-top: 0;
  }

  .logo {
    font-size: 22px;
  }

  .navbar a {
    font-size: 20px;
    margin: 5px;
    padding: 6px 14px;
    margin-right: 30px; 
  }

  .home {
    margin-top: 40px;
    flex-direction: column;
    text-align: center;
    padding: 80px 20px 40px;
    margin-left: 50px;
  }

  .home img {
    width: 220px;
    height: 220px;
    margin: 20px auto;
  }

  .home-content {
    width: 100%;
    margin: 0;
  }

  .home-content h1 {
    font-size: 32px;
  }

  .home-content h3 {
    font-size: 22px;
  }

  .home-content p {
    font-size: 16px;
    line-height: 1.5;
  }

  .home-sci a {
    margin: 10px;
    width: 35px;
    height: 35px;
    font-size: 16px;
  }

  .btn-box {
    font-size: 14px;
    padding: 10px 20px;
  }
  .about{
    margin-left: 50px;
  }
  .about-img img {
    width: 220px;
    height: 220px;
  }

  .about-text h2 {
    font-size: 32px;
  }

  .about-text h4 {
    font-size: 20px;
  }

  .about-text p {
    font-size: 16px;
  }
  .skill h1{
    display: flex;
  }

  .portfolio-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .contact-text h2 {
    font-size: 45px;
  }

  .contact-text p {
    font-size: 16px;
  }

}